@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Bitter", serif;
}

p {
  color: #F1E7C4;
  font-size: 2rem;
}

h2 {
  color: #F6975F;
  font-size: 5rem;
  margin-left: 7rem;
  margin-top: 5rem;
  font-weight: 600;
}

a {
  font-family: "Bitter", serif;
  font-weight: 700;
  text-decoration: none;
}

/*Barra de navegación*/
#arriba .navbar {
  background-color: #F6975F;
}
#arriba .navbar .navbar-text, #arriba .navbar .navbar-brand, #arriba .navbar .nav-link {
  color: #7C2343;
}
#arriba .navbar .navbar-brand:hover {
  color: #F1E7C4;
}
#arriba .navbar #navbarNav {
  justify-content: right;
  font-size: 1.5rem;
}
#arriba .navbar #navbarNav .nav-item {
  margin-left: 2rem;
}
#arriba .navbar #navbarNav .nav-item:hover {
  background-color: #F1E7C4;
  font-weight: 700;
}

/*Página Inicio*/
.todoinicio h1 {
  color: #F6975F;
  font-size: 7rem;
  margin: 5% 40% 0% 5%;
  font-weight: 600;
}
.todoinicio h2 {
  color: #F6975F;
  font-size: 5rem;
  margin-left: 7rem;
  margin-top: 5rem;
  font-weight: 600;
}
.todoinicio h6 {
  font-weight: 500;
}
.todoinicio p {
  color: #F1E7C4;
  font-size: 2rem;
}
.todoinicio p::selection {
  background-color: #db6a29;
  color: #F1E7C4;
}
.todoinicio h4::selection {
  background-color: #db6a29;
  color: #F1E7C4;
}
.todoinicio h2::selection {
  background-color: #db6a29;
  color: #F1E7C4;
}
.todoinicio h1::selection {
  background-color: #db6a29;
  color: #F1E7C4;
}
.todoinicio span::selection {
  background-color: #db6a29;
  color: #F1E7C4;
}
.todoinicio .somos, .todoinicio #texto {
  margin: 2% 55% 0% 5%;
}
.todoinicio .matriculatexto {
  color: #F6975F;
  margin-top: 30px;
  font-size: 25px;
  margin: 2% 55% 0% 5%;
}
.todoinicio h4 {
  color: #F1E7C4;
  font-size: 2rem;
  margin: 1% 5% 0% 70%;
}
.todoinicio .imagen {
  width: 40%;
  height: 20%;
  margin-top: -30%;
  margin-left: 50%;
}

/*SEGUIR CON EL INICIO, MEJORARLO*/
footer {
  color: #7C2343;
  background: #F6975F;
  height: 6rem;
  width: 100%;
  z-index: 100;
}
footer .pietexto {
  margin-top: 0.5rem;
  margin-left: 5rem;
  font-weight: 600;
}
footer .pietexto .textorojo {
  color: #7C2343;
  text-decoration: underline;
  margin-top: 2rem;
}
footer .pieicono {
  margin-top: 1rem;
}
footer .pieicono .whatsapp {
  margin-left: 10rem;
  height: 4rem;
  width: 4rem;
}
footer .pieicono .instagram {
  margin-left: 60rem;
  height: 4rem;
  width: 4rem;
}

/*Página especialidades*/
.ramas {
  background: none;
  background-size: cover;
  margin-top: 3rem;
}
.ramas .destacado {
  font-weight: 600;
}
.ramas .titulorama {
  font-weight: 600;
}
.ramas .rama1 {
  width: 28rem;
  height: 12rem;
  color: #F1E7C4;
  border: #F6975F 3px solid;
  border-radius: 5%;
  margin: 3rem;
  margin-left: 6rem;
}
.ramas .rama1 h3 {
  margin-top: 4rem;
}
.ramas .rama1 h3 {
  font-size: 1.8rem;
}
.ramas .rama1 .sacatuturno {
  background-color: #F6975F;
  border-radius: 1rem;
  border: 2px solid #F1E7C4;
  padding: 20px 20px;
  width: 13rem;
  height: 5rem;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 3rem;
  color: #7C2343;
}
.ramas .rama1 .sacatuturno:hover {
  background-color: #df6c29;
  color: #F1E7C4;
}

/*Página turnos*/
.turnos {
  display: flex;
  flex-direction: row;
}
.turnos .textoturno {
  margin-top: 6rem;
  margin-right: 15rem;
  margin-left: 10rem;
}

.formularios .bsformulario {
  color: #F1E7C4;
  margin-left: 5rem;
  margin-top: 3rem;
}
.formularios .formulario1 {
  width: 30rem;
  height: 2rem;
  margin-left: 5rem;
  font-size: 1rem;
}
.formularios .informacion {
  display: flex;
  flex-direction: column;
  color: #F1E7C4;
  margin-left: 5rem;
  font-size: 2rem;
}
.formularios .informacion label {
  margin-top: 2rem;
}
.formularios .informacion #rama, .formularios .informacion #cel, .formularios .informacion #nombre {
  width: 30rem;
  height: 2rem;
  font-family: "Bitter", serif;
  border-radius: solid 2px;
  font-size: 1rem;
}
.formularios .informacion #turno {
  width: 30rem;
  height: 5rem;
  font-size: 1rem;
}
.formularios .informacion .enviarturno {
  width: 10rem;
  height: 2rem;
  color: #7C2343;
  background-color: #F6975F;
  border-color: #F1E7C4;
  border-radius: solid 1px;
  font-family: "Bitter", serif;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-left: 20rem;
}
.formularios .informacion .enviarturno:hover {
  background-color: #df6c29;
  color: #F1E7C4;
}

/*mis reglas de mediaqueries*/

/*# sourceMappingURL=style.css.map */
