$temporada:"";

/*condicionales*/
@if ($temporada == "navidad"){
    .navbar{
        background-image: url(../img/brillonavidad.png);
    }
   }
@else{
    .navbar{
        background-color: $color-resaltar ;
    }
}

